* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top left, #0b0c10, #1d2029);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#top {
  color: white;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 8%;
  font-size: 22px;
}

#pizarra {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 75%;
  justify-self: center;
  background-color: #919191;
  display: flex;
  justify-content: center;
}

#wrapper {
  flex: 0 1 auto;
  display: grid;
  background-color: transparent;
}

.grid {
  display: inline-block;
  box-sizing: border-box;
  border: 0.5px solid rgba(219, 219, 219, 0.5);
  background-color: white;
  /*
  width: calc(75vh / 16);
  height: calc(75vh / 16);
  */
}

.grid.hover {
  cursor: pointer;
  background-color: grey;
}

#buttons {
  padding-bottom: 0.5em;
  flex: 1 1 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.button {
  flex: 0 1 auto;
  font-size: 2vh;
  text-transform: uppercase;
  background-color: white;
  border: 0px;
  border-radius: 60px;
  width: 11vh;
  height: 11vh;
  box-shadow: inset 0 20px 30px -20px #000000;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
  box-shadow: inset 0 25px 35px -20px #000000;
}

#adjust-cont,
#restart-cont {
  padding-top: 0.2em;
  flex: 0 1 auto;
  margin-left: 6em;
  margin-right: 6em;
}

#adjust-cont {
  margin-right: auto;
}
#restart-cont {
  margin-left: auto;
}

#adjust-pop {
  border-radius: 0.3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#adjust-row,
#adjust-col {
  background-color: #636363;
  color: white;
  font-size: 2vh;
  text-align: center;
  width: 4vh;
  height: 4vh;
  border: none;
}

.inv {
  visibility: hidden;
  display: none;
}

#submit-inp {
  background-color: #3f3f3f;
  margin-top: 0.2em;
  border: none;
  color: white;
  height: 3vh;
}
#submit-inp:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
